// Place all the styles related to the Spendings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.detalles-plans p{
  text-align: center;
  font-size: 15px;
  border-bottom: 2px solid #f2f2f2;
  &:hover{
    background: #c3fac3;
  }
}

.detalles-plans {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
